.lead__title {
    margin: 0 auto;
    padding-top: 56px;
    max-width: 720px;
    font-size: 96px;
    line-height: 1.04;
    font-weight: 900;
    text-align: center;
}

/*Для более плавного перехода на меньшее разрешение*/
@media screen and (max-width: 768px) {
    .lead__title {
       font-size: 10vw;
    }   
}

@media screen and (max-width: 320px) {
    .lead__title {
        padding-top: 48px;
        font-size: 40px;
        line-height: 1.1;
    }
}