.place__link {
    grid-row: 1/2;
    grid-column: 2/-1;
    display: inline;
    align-self: flex-start;
    color: inherit;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    transition: .6s;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .place__link {
        padding-left: 16px;
    }  
}