.modal-gallery__btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    transition: opacity .6s;
}

.modal-gallery__btn-next:hover {
    opacity: .8;
}