.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 40px;
    row-gap: 46px;
}

@media screen and (max-width: 1024px) and (min-width: 919px) {
    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

/*Дополнительные стили для нестандартных дисплеев*/
@media screen and (max-width: 920px) and (min-width: 767px) {
    .place {
        grid-template-columns: 360px 1fr;
    }
}

@media screen and (max-width: 768px) and (min-width: 721px) {
    .place {
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
    }
}

/*Дополнительные стили для нестандартных дисплеев*/
@media screen and (max-width: 720px) {
    .place {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .place {
        gap: 32px;
    }
}