.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 48px 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

/*Дополнительные стили на случай не стандартных размеров*/
@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column;
        align-items: start;
        gap: 25px;
        padding-top: 70px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        gap: 48px;
        padding: 64px 0 24px 16px;
    }
}