.lead__illustration {
    margin: 0;
    padding-top: 64px;
    max-width: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 321px) {
    .lead__illustration {
        padding-top: 56px;
    }
}

@media screen and (max-width: 320px) {
    .lead__illustration {
        padding-top: 40px;
    } 
}